<h1>New interest</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@interest) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.submit"create interest", class: "btn btn-large btn-primary"  %> 
<% end %>