<h1>The Activities list<h1>
<table>
 <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.title%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
        <td><%= activity.content %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
        <td><%= activity.location.address %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
    
       <td><%= link_to 'Show', activity.location %>&nbsp&nbsp</td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Activity', new_activity_path %>
